/*
 * Universal JS Boilerplate - Styles
 * Copyright (c) Carlos Azaustre, carlosazaustre.es
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

// -- Base and Reset styles ----------------------------------------------------

@import './base/normalize.styl'
@import './base/reset.styl'

// -- Theme Styles -------------------------------------------------------------

@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import './theme/variables'

// -- Main styles --------------------------------------------------------------

body
  background-color $gray_light
  font-family $font_family_base
  font-size 16px

// -- Component Styles ---------------------------------------------------------

@import './components/*'
