// -- Colors -------------------------------------------------------------------

$white_base   = #fafafa

$gray_base    = #222
$gray_darker  = $gray_base + 15%
$gray_dark    = $gray_base + 25%
$gray         = $gray_base + 35%
$gray_light   = $gray_base + 50%
$gray_lighter = $gray_base + 90%

// -- Typography ---------------------------------------------------------------

$font_family_base = 'Lato', 'Helvetica-Neue', sans-serif


// -- Layout -------------------------------------------------------------------

$max_content-width  = 1000px

$screen_mobile      = 480px
$screen_tablet      = 768px
$screen_desktop     = 992px
$screen_wide        = 1200px
